body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #300204;
}
.black-scr {
	position: fixed;
	content: '';
	pointer-events: none;
	display: block;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	-webkit-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	opacity: 0;
	z-index: 0;
	background: rgba(0, 0, 0, 0.1);
}
body.open .black-scr {
	opacity: 1;
}
body.send .black-scr {
	opacity: 1;
	z-index: 6;
	background: rgba(0, 0, 0, 0.2);
}
body.open {
	overflow-y: hidden;
}
.wrap {
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
}
.container {
	width: 1140px;
	margin: 0 auto;
}
li {
	display: block;
}
h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}
div,
p,
ul,
li,
span,
button,
input,
a,
form,
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
iframe {
    max-width: 100%;
}
a {
	color: #3e3e3e;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
a:hover {
	text-decoration: underline;
}
.title {
	font-weight: 700;
	font-size: 65px;
	position: relative;
	padding-bottom: 32px;
	margin-bottom: 32px;
	color: #300204;
}
.title:after {
	width: 98px;
	height: 7px;
	content: '';
	display: block;
	-webkit-border-radius: 3.5px;
	   -moz-border-radius: 3.5px;
	        border-radius: 3.5px;
	background: #ff8045;
	bottom: 0;
	left: 0;
	position: absolute;
}
.title-l {
	font-weight: 700;
	font-size: 48px;
	text-align: center;
	position: relative;
	padding-bottom: 10px;
}
.title-l:after {
	width: 105px;
	height: 7px;
	content: '';
	display: block;
	-webkit-border-radius: 3.5px;
	   -moz-border-radius: 3.5px;
	        border-radius: 3.5px;
	background: #ff8045;
	right: 0;
	bottom: -15px;
	left: 0;
	margin: 0 auto;
	position: absolute;
}
.title-s {
	font-weight: 700;
	font-size: 18px;
	line-height: 160%;
}
textarea:active,
textarea:focus {
	outline: none;
}
input[type=text],
input[type=submit],
textarea {
	-webkit-appearance: none;
}
input {
	border: 0;
	outline: none;
}
.menu_btn {
	display: none;
}
.btn {
	padding: 23px 68px;
	font-weight: 700;
	font-size: 28px;
	text-align: center;
	color: #FFFFFF;
	max-width: 360px;
	background: #ff6518;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	   -moz-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	        box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
}
.btn:hover {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
	text-decoration: none;
}
.btn-sec {
	padding: 15px 10px;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
	background: #fff;
	color: #ff6518;
	font-size: 15px;
	font-weight: 500;
	-webkit-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	   -moz-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	        box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
}
.btn-sec:hover {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
	text-decoration: none;
}
.center {
	text-align: center;
}
/* ---------------breadcrumbs----------------- */

.breadcrumbs {
	font-weight: 600;
	font-size: 12px;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.7);
	margin: 0 0 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.inner-page .breadcrumbs {
	margin-bottom: 24px;
}
.inner-page .breadcrumbs,
.inner-page .breadcrumbs__link {
	color: rgba(0, 0, 0, 0.5);
}
.breadcrumbs__link {
	font-size: 12px;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.7);
	text-decoration: none;
}
.breadcrumbs__link:hover {
	text-decoration: underline;
}
.inner-page .breadcrumbs__separator {
	background: rgba(0, 0, 0, 0.5);
}
.breadcrumbs__separator {
	display: block;
	width: 3px;
	height: 3px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.7);
	margin: 0 16px;
}
/* ----STARS---- */

.stars {
	width: 80px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex
}
.rating__star span {
	overflow: hidden;
	display: block;
	height: 100%;
	font-size: 0;
	line-height: 20px
}
.rating__star {
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	height: 13px;
	margin: 0 1.35px;
	text-align: center;
	background: url('../img/svg/star-trans.svg') 0 1px no-repeat;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100%;
	background-size: 100%
}
/* -----------------------------Header---------------------------- */
.header {
	padding: 28px 0 20px;
	position: relative;
	z-index: 2;
}

.header__top {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 28px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.header__contacts {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header__cont-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header__cont-link {
	display: block;
	font-size: 15px;
	color: #300204;
}
.header__btns {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header__obj {
	font-weight: 500;
	font-size: 15px;
	padding: 15px 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header__login {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin-right: 34px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header__cont-item svg {
	margin-right: 10px;
}
.header__cont-item:not(:last-child) {
	margin-right: 25px;
}
.header__cont-wrap {
	font-size: 14px;
	color: #300204;
}
.header__btns svg{
	margin-right: 8px;
}
.header__nav ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
	-webkit-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	   -moz-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	        box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	background: #fff;
}
.header__nav ul li {
	padding: 14px 0;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background: #fff;
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	   -moz-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
}
.header__nav ul li:not(:last-child) a::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	-webkit-border-radius: 0.5px;
	   -moz-border-radius: 0.5px;
	        border-radius: 0.5px;
	height: 100%;
	width: 2px;
	background: #fff9f3;
}
.header__nav ul li a {
	padding: 10px 0;
	display: block;
	text-align: center;
	font-size: 18px;
	color: #300204;
	position: relative;
}
.header__nav ul li a:hover {
	text-decoration: none;
}
.header__nav ul li:hover {
	background: #ffe3c8;
}
.header__nav ul li:hover a {
	color: #ff6518;
}


/* -----MAIN----- */

.main {
	padding: 264px 0 0;
	margin-top: -234px;
	background: #fff9f3;
	overflow: hidden;
	position: relative;
    z-index: 0;
}
.main::after,
.main::before {
	content: '';
	display: block;
	position: absolute;
}
.main::before {
	left: 0;
	bottom: -119px;
	width: 371px;
	height: 761px;
	background: url('../img/main-l.png') no-repeat 0 0 / cover;
}
.main::after {
	right: 0;
	bottom: -107px;
	width: 1014px;
	height: 896px;
	background: url('../img/main-r.png') no-repeat 0 0 / cover;
}
.main__wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.main__l {
	width: 50%;
	padding-top: 37px;
}
.main__l p {
	font-size: 18px;
	line-height: 1.35em;
	margin-bottom: 45px;
}
.main__r {
	width: 50%;
	padding-bottom: 63px;
	position: relative;
}
.main__r::before,
.main__r::after {
	content: '';
	display: block;
	position: absolute;
}
.main__r::before {
	width: 443px;
	height: 653px;
	background: url('../img/main-g.png') no-repeat 0 0 / cover;
	right: 0;
	bottom: 0;
	z-index: 1;
}
.main__r::after {
	width: 542px;
	height: 439px;
	background: url('../img/main-icons.png') no-repeat 0 0 / cover;
	right: -50px;
	top: 180px;
	z-index: 2;

}
.main__btns {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.main__btns .btn {
	margin-bottom: 25px;
}
.main__btn {
	font-weight: 500;
	font-size: 24px;
	color: #ff6518;
	border-bottom: 2px dashed #ff6518;
	text-align: center;
	max-width: 235px;
}
.main__btn:hover {
	text-decoration: none;
	border-bottom-color: transparent;
}
.main__card {
	-webkit-border-radius: 25px 25px 0 25px;
	   -moz-border-radius: 25px 25px 0 25px;
	        border-radius: 25px 25px 0 25px;
	background: #fff9f3;
	padding: 30px 35px 17px;
	max-width: 380px;
	margin-top: 415px;
	margin-left: -140px;
	position: relative;
	z-index: 3;
	-webkit-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	   -moz-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	        box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
}
.main__card p {
	font-size: 18px;
	line-height: 1.4em;
	text-align: center;
	margin-bottom: 10px;
}
.main__stars {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

/* ------FIND----- */

.find {
	padding: 65px 0 265px;
	position: relative;
	background: url('../img/map.png') no-repeat center 37px;
}
.find .title-l {
	margin-bottom: 78px;
}
.find__wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	counter-reset: item;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.find::before {
	content: '';
	display: block;
	position: absolute;
	width: 1728px;
	height: 195px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: url('../img/find-line.png') no-repeat 0 0 / cover;
}
.find__card {
	position: relative;
}
.find__card-wrap {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
		 border-radius: 8px;
 background: #fff;
 position: relative;
 z-index: 2;
 display: -webkit-box;
 display: -webkit-flex;
 display: -moz-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	 -ms-flex-direction: column;
		 flex-direction: column;
 -webkit-box-align: center;
 -webkit-align-items: center;
	-moz-box-align: center;
	 -ms-flex-align: center;
		 align-items: center;
 padding: 37px 24px 0;
 max-width: 263px;
 height: 300px;
 -webkit-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	-moz-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
		 box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
}
.find__card:after {
	content: '#'counter(item);
	counter-increment: item; 
	display: -webkit-box; 
	display: -webkit-flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: flex;
	position: absolute;
	right: 0;
	bottom: -26px;
	left: 0;
	margin: 0 auto;
	font-size: 26px;
	font-weight: 700;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 51px;
	height: 51px;
	z-index: 3;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
	color: #fff;
	background: rgba(255,193,69,1);
	background: -moz-linear-gradient(top, rgba(255,193,69,1) 0%, rgba(255,101,24,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,193,69,1)), color-stop(100%, rgba(255,101,24,1)));
	background: -webkit-linear-gradient(top, rgba(255,193,69,1) 0%, rgba(255,101,24,1) 100%);
	background: -o-linear-gradient(top, rgba(255,193,69,1) 0%, rgba(255,101,24,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,193,69,1)), to(rgba(255,101,24,1)));
	background: linear-gradient(to bottom, rgba(255,193,69,1) 0%, rgba(255,101,24,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc145', endColorstr='#ff6518', GradientType=0 );
}
.find__card::before {
	content: '';
	display: block;
	position: absolute;
	left: -42px;
	top: -23px;
	width: 344px;
	height: 344px;
	z-index: 1;
}
.find__card:nth-child(2) {
	margin-top: 70px;
}
.find__card:nth-child(1):before {
	background: url('../img/card-bg1.png') no-repeat 0 0 / cover;
}
.find__card:nth-child(2):before {
	width: 324px;
	height: 324px;
	left: -32px;
	top: -11px;
	background: url('../img/card-bg2.png') no-repeat 0 0 / cover;
}
.find__card:nth-child(3):before {
	background: url('../img/card-bg3.png') no-repeat 0 0 / cover;
}
.find__img {
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
	background: #fff9f3;
	width: 103px;
	height: 103px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-bottom: 25px;
}
.find__txt {
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	line-height: 1.35em;
}

/* ---UNIQ---- */

.uniq__card {
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
	background: #fff9f3;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 72px 80px 47px 53px;
}
.uniq__l {
	width: 42.6%;
}
.uniq__tit {
	font-size: 38px;
	font-weight: 700;
	margin-bottom: 27px;
}
.uniq__l p {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.55em;
}
.uniq__l p:not(:last-child) {
	margin-bottom: 25px;
}
.uniq__r {
	margin-top: -137px;
	width: 50%;
	position: relative;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
	background: #fff9f3 url('../img/uniq-bg.png') no-repeat 0 0 / cover;
	padding: 55px 45px 149px 48px;
	-webkit-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.1);
	   -moz-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.1);
	        box-shadow: 8px 0 25px rgba(255, 101, 24, 0.1);
}
.uniq__img {
	padding: 7px 9px;
	background: #fff;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
}
.uniq__img img {
	display: block;
	width: 100%;
	height: auto;
}
.uniq__pep {
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	background: #fffdfb;
	right: -46px;
	bottom: 78px;
	-webkit-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	   -moz-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	        box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	padding: 16px 13px 21px 17px;
	position: absolute;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.uniq__num {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.uniq__foto {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	width: 65px;
	height: 65px;
	overflow: hidden;
	margin-right: 12px;
}
.uniq__foto img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.uniq__name {
	font-size: 12px;
	font-weight: 600;
}
.uniq__age {
	font-size: 11px;
	font-weight: 600;
	color: #5e5e5e;
}
.uniq__item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 77px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.uniq__item-num {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	color: #fff;
	background: #ff6518;
	margin-right: 4px;
	font-size: 13px;
	font-weight: 600;
}
.uniq__item span {
	font-size: 11px;
}