body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #300204;
}
.black-scr {
	position: fixed;
	content: '';
	pointer-events: none;
	display: block;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	-webkit-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	opacity: 0;
	z-index: 0;
	background: rgba(0, 0, 0, 0.1);
}
body.open .black-scr {
	opacity: 1;
}
body.send .black-scr {
	opacity: 1;
	z-index: 6;
	background: rgba(0, 0, 0, 0.2);
}
body.open {
	overflow-y: hidden;
}
.wrap {
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
}
.container {
	width: 1140px;
	margin: 0 auto;
}
li {
	display: block;
}
h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}
div,
p,
ul,
li,
span,
button,
input,
a,
form,
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
iframe {
    max-width: 100%;
}
a {
	color: #3e3e3e;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
a:hover {
	text-decoration: underline;
}
.title {
	font-weight: 700;
	font-size: 65px;
	position: relative;
	padding-bottom: 32px;
	margin-bottom: 32px;
	color: #300204;
}
.title:after {
	width: 98px;
	height: 7px;
	content: '';
	display: block;
	-webkit-border-radius: 3.5px;
	   -moz-border-radius: 3.5px;
	        border-radius: 3.5px;
	background: #ff8045;
	bottom: 0;
	left: 0;
	position: absolute;
}
.title-l {
	font-weight: 700;
	font-size: 48px;
	text-align: center;
	position: relative;
	padding-bottom: 10px;
}
.title-l:after {
	width: 105px;
	height: 7px;
	content: '';
	display: block;
	-webkit-border-radius: 3.5px;
	   -moz-border-radius: 3.5px;
	        border-radius: 3.5px;
	background: #ff8045;
	right: 0;
	bottom: -15px;
	left: 0;
	margin: 0 auto;
	position: absolute;
}
.title-s {
	font-weight: 500;
	font-size: 24px;
}
textarea:active,
textarea:focus {
	outline: none;
}
input[type=text],
input[type=submit],
textarea {
	-webkit-appearance: none;
}
input {
	border: 0;
	outline: none;
}
.menu_btn {
	display: none;
}
.btn {
	padding: 23px 68px;
	font-weight: 700;
	font-size: 28px;
	text-align: center;
	color: #FFFFFF;
	max-width: 360px;
	background: #ff6518;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	   -moz-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	        box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
}
.btn:hover {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
	text-decoration: none;
}
.btn-sec {
	padding: 15px 10px;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
	background: #fff;
	color: #ff6518;
	font-size: 15px;
	font-weight: 500;
	-webkit-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	   -moz-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	        box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
}
.btn-sec:hover {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
	text-decoration: none;
}
.center {
	text-align: center;
}
/* ---------------breadcrumbs----------------- */

.breadcrumbs {
	font-weight: 600;
	font-size: 12px;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.7);
	margin: 0 0 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.inner-page .breadcrumbs {
	margin-bottom: 24px;
}
.inner-page .breadcrumbs,
.inner-page .breadcrumbs__link {
	color: rgba(0, 0, 0, 0.5);
}
.breadcrumbs__link {
	font-size: 12px;
	line-height: 20px;
	color: rgba(255, 255, 255, 0.7);
	text-decoration: none;
}
.breadcrumbs__link:hover {
	text-decoration: underline;
}
.inner-page .breadcrumbs__separator {
	background: rgba(0, 0, 0, 0.5);
}
.breadcrumbs__separator {
	display: block;
	width: 3px;
	height: 3px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.7);
	margin: 0 16px;
}
/* ----STARS---- */

.stars {
	width: 80px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex
}
.rating__star span {
	overflow: hidden;
	display: block;
	height: 100%;
	font-size: 0;
	line-height: 20px
}
.rating__star {
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	height: 13px;
	margin: 0 1.35px;
	text-align: center;
	background: url('../img/svg/star-trans.svg') 0 1px no-repeat;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100%;
	background-size: 100%
}
/* -----------------------------Header---------------------------- */
.header {
	padding: 28px 0 20px;
	position: relative;
	z-index: 2;
}

.header__top {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 28px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.header__contacts {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header__cont-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header__cont-link {
	display: block;
	font-size: 15px;
	color: #300204;
}
.header__btns {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header__obj {
	font-weight: 500;
	font-size: 15px;
	padding: 15px 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header__login {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin-right: 34px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.header__cont-item svg {
	margin-right: 10px;
}
.header__cont-item:not(:last-child) {
	margin-right: 25px;
}
.header__cont-wrap {
	font-size: 14px;
	color: #300204;
}
.header__btns svg{
	margin-right: 8px;
}
.header__nav ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
	-webkit-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	   -moz-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	        box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	background: #fff;
}
.header__nav ul li {
	padding: 14px 0;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background: #fff;
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	   -moz-box-flex: 1;
	    -ms-flex: 1 0 auto;
	        flex: 1 0 auto;
}
.header__nav ul li:not(:last-child) a::after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	-webkit-border-radius: 0.5px;
	   -moz-border-radius: 0.5px;
	        border-radius: 0.5px;
	height: 100%;
	width: 2px;
	background: #fff9f3;
}
.header__nav ul li a {
	padding: 10px 0;
	display: block;
	text-align: center;
	font-size: 18px;
	color: #300204;
	position: relative;
}
.header__nav ul li a:hover {
	text-decoration: none;
}
.header__nav ul li:hover {
	background: #ffe3c8;
}
.header__nav ul li:hover a {
	color: #ff6518;
}


/* -----MAIN----- */

.main {
	padding: 264px 0 0;
	margin-top: -234px;
	background: #fff9f3;
	overflow: hidden;
	position: relative;
    z-index: 0;
}
.main::after,
.main::before {
	content: '';
	display: block;
	position: absolute;
}
.main::before {
	left: 0;
	bottom: -119px;
	width: 371px;
	height: 761px;
	background: url('../img/main-l.png') no-repeat 0 0 / cover;
}
.main::after {
	right: 0;
	bottom: -107px;
	width: 1014px;
	height: 896px;
	background: url('../img/main-r.png') no-repeat 0 0 / cover;
}
.main__wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.main__l {
	width: 50%;
	padding-top: 37px;
}
.main__l p {
	font-size: 18px;
	line-height: 1.35em;
	margin-bottom: 45px;
}
.main__r {
	width: 50%;
	padding-bottom: 63px;
	position: relative;
}
.main__r::before,
.main__r::after {
	content: '';
	display: block;
	position: absolute;
}
.main__r::before {
	width: 443px;
	height: 653px;
	background: url('../img/main-g.png') no-repeat 0 0 / cover;
	right: 0;
	bottom: 0;
	z-index: 1;
}
.main__r::after {
	width: 542px;
	height: 439px;
	background: url('../img/main-icons.png') no-repeat 0 0 / cover;
	right: -50px;
	top: 180px;
	z-index: 2;

}
.main__btns {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}
.main__btns .btn {
	margin-bottom: 25px;
}
.main__btn {
	font-weight: 500;
	font-size: 24px;
	color: #ff6518;
	border-bottom: 2px dashed #ff6518;
	text-align: center;
	max-width: 235px;
}
.main__btn:hover {
	text-decoration: none;
	border-bottom-color: transparent;
}
.main__card {
	-webkit-border-radius: 25px 25px 0 25px;
	   -moz-border-radius: 25px 25px 0 25px;
	        border-radius: 25px 25px 0 25px;
	background: #fff9f3;
	padding: 30px 35px 17px;
	max-width: 380px;
	margin-top: 415px;
	margin-left: -140px;
	position: relative;
	z-index: 3;
	-webkit-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	   -moz-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	        box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
}
.main__card p {
	font-size: 18px;
	line-height: 1.4em;
	text-align: center;
	margin-bottom: 10px;
}
.main__stars {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

/* ------FIND----- */

.find {
	padding: 65px 0 265px;
	position: relative;
	background: url('../img/map.png') no-repeat center 37px;
}
.find .title-l {
	margin-bottom: 78px;
}
.find__wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	counter-reset: item;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.find::before {
	content: '';
	display: block;
	position: absolute;
	width: 1728px;
	height: 195px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: url('../img/find-line.png') no-repeat 0 0 / cover;
}
.find__card {
	position: relative;
}
.find__card-wrap {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
		 border-radius: 8px;
 background: #fff;
 position: relative;
 z-index: 2;
 display: -webkit-box;
 display: -webkit-flex;
 display: -moz-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
 -webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	 -ms-flex-direction: column;
		 flex-direction: column;
 -webkit-box-align: center;
 -webkit-align-items: center;
	-moz-box-align: center;
	 -ms-flex-align: center;
		 align-items: center;
 padding: 37px 24px 0;
 max-width: 263px;
 height: 300px;
 -webkit-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	-moz-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
		 box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
}
.find__card:after {
	content: '#'counter(item);
	counter-increment: item; 
	display: -webkit-box; 
	display: -webkit-flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: flex;
	position: absolute;
	right: 0;
	bottom: -26px;
	left: 0;
	margin: 0 auto;
	font-size: 26px;
	font-weight: 700;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 51px;
	height: 51px;
	z-index: 3;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
	color: #fff;
	background: rgba(255,193,69,1);
	background: -moz-linear-gradient(top, rgba(255,193,69,1) 0%, rgba(255,101,24,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,193,69,1)), color-stop(100%, rgba(255,101,24,1)));
	background: -webkit-linear-gradient(top, rgba(255,193,69,1) 0%, rgba(255,101,24,1) 100%);
	background: -o-linear-gradient(top, rgba(255,193,69,1) 0%, rgba(255,101,24,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,193,69,1)), to(rgba(255,101,24,1)));
	background: linear-gradient(to bottom, rgba(255,193,69,1) 0%, rgba(255,101,24,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc145', endColorstr='#ff6518', GradientType=0 );
}
.find__card::before {
	content: '';
	display: block;
	position: absolute;
	left: -42px;
	top: -23px;
	width: 344px;
	height: 344px;
	z-index: 1;
}
.find__card:nth-child(2) {
	margin-top: 70px;
}
.find__card:nth-child(1):before {
	background: url('../img/card-bg1.png') no-repeat 0 0 / cover;
}
.find__card:nth-child(2):before {
	width: 324px;
	height: 324px;
	left: -32px;
	top: -11px;
	background: url('../img/card-bg2.png') no-repeat 0 0 / cover;
}
.find__card:nth-child(3):before {
	background: url('../img/card-bg3.png') no-repeat 0 0 / cover;
}
.find__img {
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
	background: #fff9f3;
	width: 103px;
	height: 103px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-bottom: 25px;
}
.find__txt {
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	line-height: 1.35em;
}

/* ---UNIQ---- */

.uniq {
	position: relative;
	z-index: 4;
}
.uniq__card {
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
	background: #fff9f3;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 72px 80px 47px 53px;
}
.uniq__l {
	width: 42.6%;
}
.uniq__tit {
	font-size: 38px;
	font-weight: 700;
	margin-bottom: 27px;
}
.uniq__l p {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.55em;
}
.uniq__l p:not(:last-child) {
	margin-bottom: 25px;
}
.uniq__r {
	margin-top: -137px;
	width: 50%;
	position: relative;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
	background: #fff9f3 url('../img/uniq-bg.png') no-repeat 0 0 / cover;
	padding: 55px 45px 149px 48px;
	-webkit-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.1);
	   -moz-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.1);
	        box-shadow: 8px 0 25px rgba(255, 101, 24, 0.1);
}
.uniq__img {
	padding: 7px 9px;
	background: #fff;
	position: relative;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
}
.uniq__r:after,
.uniq__r::before,
.uniq__img:after,
.uniq__img::before {
	content: '';
	display: block;
	-webkit-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	   -moz-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	        box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
	position: absolute;
}
.uniq__r:after {
	width: 103px;
	height: 103px;
	bottom: 17px;
	left: 63px;
	background: #fff url('../img/svg/achievement.svg') no-repeat center center;
}
.uniq__r::before {
	width: 79px;
	height: 79px;
	top: -38px;
	right: 0;
	left: 0;
	margin: 0 auto;
	background: #fff url('../img/svg/contract.svg') no-repeat center center;
}
.uniq__img:after {
	width: 65px;
	height: 65px;
	-webkit-transform: rotateZ(-20deg);
	   -moz-transform: rotateZ(-20deg);
	    -ms-transform: rotate(-20deg);
	     -o-transform: rotateZ(-20deg);
	        transform: rotateZ(-20deg);
	top: 66px;
	right: -88px;
	background: #fff url('../img/svg/like.svg') no-repeat center center;
}
.uniq__img::before {
	width: 84px;
	height: 84px;
	-webkit-transform: rotateZ(15deg);
	   -moz-transform: rotateZ(15deg);
	    -ms-transform: rotate(15deg);
	     -o-transform: rotateZ(15deg);
	        transform: rotateZ(15deg);
	top: 103px;
	left: -107px;
	background: #fff url('../img/svg/pie-chart.svg') no-repeat center center;
}
.uniq__img img {
	display: block;
	width: 100%;
	height: auto;
}
.uniq__pep {
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	background: #fffdfb;
	right: -46px;
	bottom: 78px;
	-webkit-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	   -moz-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	        box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	padding: 16px 13px 21px 17px;
	position: absolute;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.uniq__num {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.uniq__foto {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	width: 65px;
	height: 65px;
	overflow: hidden;
	margin-right: 12px;
}
.uniq__foto img {
	display: block;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}
.uniq__name {
	font-size: 12px;
	font-weight: 600;
}
.uniq__age {
	font-size: 11px;
	font-weight: 600;
	color: #5e5e5e;
	margin-bottom: 8px;
}
.uniq__item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 77px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.uniq__item:nth-child(1) {
	margin-right: 6px;
}
.uniq__item-num {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	color: #fff;
	background: #ff6518;
	margin-right: 4px;
	font-size: 13px;
	font-weight: 600;
	width: 26px;
	height: 26px;
}
.uniq__item span {
	font-size: 11px;
	max-width: 53px;
	display: block;
	width: 60%;
	line-height: 0.9em;
}

/* ---RATE--- */

.rate {
	padding: 70px 0 33px;
}

.rate .title-l {
	margin-bottom: 72px;
}
.rate__wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	counter-reset: rate;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.rate__item {
	width: 27%;
}
.rate__img {
	position: relative;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	width: 130px;
	height: 130px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	background: #fffdfb;
	margin-bottom: 35px;
	-webkit-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	   -moz-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	        box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
}
.rate__img:after {
	content: '#'counter(rate);
	counter-increment: rate; 
	display: -webkit-box; 
	display: -webkit-flex; 
	display: -moz-box; 
	display: -ms-flexbox; 
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	width: 45px;
	height: 45px;
	position: absolute;
	background: #300204;
	color: #ffedda;
	font-size: 21px;
	font-weight: 500;
	bottom: 0;
	right: -10px;
}
.rate__wrap .title-s {
	margin-bottom: 15px;
	font-weight: 500;
}
.rate__wrap p {
	line-height: 1.3em;
	font-size: 18px;
}
.rate__wrap p:not(:last-child) {
	margin-bottom: 18px;
}

.rate__btn {
	display: inline-block;
	padding: 17px 32px 20px;
	font-size: 18px;
}
/* ----VAC---- */

.vac {
	padding: 33px 0 36px;
}
.vac .title-l {
	margin-bottom: 51px;
}
.vac__wrap {
	margin-bottom: 35px;
}
.vac__item {
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	background: #fff;
	padding: 26px;
	-webkit-box-shadow: 8px 0 10px rgba(255, 101, 24, 0.05);
	   -moz-box-shadow: 8px 0 10px rgba(255, 101, 24, 0.05);
	        box-shadow: 8px 0 10px rgba(255, 101, 24, 0.05);
}
.vac__item:not(:last-child) {
	margin-bottom: 27px;
}
.vac__top {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 17px;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	   -moz-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.vac__tit {
	font-weight: 600;
	margin-bottom: 9px;
}
.vac__sum {
	font-weight: 600;
	font-size: 20px;
	color: #ff6518;
}
.vac__city {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 20px;
	font-weight: 500;
	color: #a2a2a2;
}
.vac__city svg {
	margin-right: 5px;
}
.vac__item p {
	color: #000;
	line-height: 1.37em;
	margin-bottom: 10px;
}
.vac__bot {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.vac__btn {
	font-weight: 600;
	color: #ff6518;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	border: 2px solid #ff6518;
	background: #fff;
	padding: 11px 36px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	display: inline-block;
}
.vac__btn:hover {
	color: #fff;
	background: #ff6518;
	text-decoration: none;
}
.vac__comp {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 20px;
	font-weight: 500;
	color: #a2a2a2;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.vac__comp svg {
	margin-right: 10px;
}
.vac__center {
	position: relative;
	text-align: center;
	padding: 0 96px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.vac__center::before,
.vac__center:after {
	content: '';
	display: block;
	width: 30%;
	height: 1px;
	max-width: 291px;
	background: #ffd0b9;
}
.vac__more {
	background: #fff9f3;
	border: 1px solid #ffceb6;
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
	padding: 20px 34px;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-moz-box-align: center;
			-ms-flex-align: center;
				align-items: center;
	position: relative;
	font-size: 18px;
	font-weight: 500;
	color: #ff6518;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.vac__more:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-width: 4px 6px;
	border-color: transparent;
	border-style: solid;
	border-left-color: #ff6518;
	margin-left: 9px;
	margin-top: 2px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.vac__more:hover {
	color: #fff;
	background: #ff6518;
	text-decoration: none;
}
.vac__more:hover:after {
	border-left-color: #fff
}

/* ---STATS--- */

.stats {
	padding: 36px 0 100px;
	position: relative;
}
.stats::before {
	content: '';
	display: block;
	position: absolute;
	width: 1728px;
	height: 195px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: url('../img/stats-line.png') no-repeat 0 0 / cover;
}
.stats .title-l {
	margin-bottom: 106px;
}
.stats__wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	width: 80%;
	margin: 0 auto;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.stats__item {
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
	background: #fff;
	max-width: 158px;
	-webkit-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	   -moz-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	        box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	text-align: center;
	padding: 35px 10px 30px;
	position: relative;
}
.stats__item::before {
	content: '';
	display: block;
	position: absolute;
	width: 283px;
	height: 284px;
	top: -63px;
	left: -61px;
	background: url('../img/stats-bg.png') no-repeat 0 0 / cover;
	z-index: -1;
}
.stats__item::after {
	display: block;
	position: absolute;
	content: '';
	width: 63px;
	height: 63px;
	-webkit-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	   -moz-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	        box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	-webkit-border-radius: 8px;
	   -moz-border-radius: 8px;
	        border-radius: 8px;
}
.stats__item:nth-child(1)::after {
	background:#fff9f3 url('../img/svg/graduate.svg') no-repeat center center;
	-webkit-transform: rotateZ(5deg);
	   -moz-transform: rotateZ(5deg);
	    -ms-transform: rotate(5deg);
	     -o-transform: rotateZ(5deg);
	        transform: rotateZ(5deg);
	top: -35px;
	left: -38px;
}
.stats__item:nth-child(2)::after {
	background:#fff9f3 url('../img/svg/magnifying-glass.svg') no-repeat center center;
	-webkit-transform: rotateZ(-5deg);
	   -moz-transform: rotateZ(-5deg);
	    -ms-transform: rotate(-5deg);
	     -o-transform: rotateZ(-5deg);
	        transform: rotateZ(-5deg);
	bottom: -37px;
	left: -19px;
}
.stats__item:nth-child(3)::after {
	background:#fff9f3 url('../img/svg/certification.svg') no-repeat center center;
	-webkit-transform: rotateZ(5deg);
	   -moz-transform: rotateZ(5deg);
	    -ms-transform: rotate(5deg);
	     -o-transform: rotateZ(5deg);
	        transform: rotateZ(5deg);
	top: 27px;
	right: -50px;
}
.stats__num {
	font-size: 30px;
	font-weight: 700;
	color: #ff6518;
	margin-bottom: 10px;
}
.stats__item:nth-child(2):before {
	-webkit-transform: rotateZ(30deg);
	   -moz-transform: rotateZ(30deg);
	    -ms-transform: rotate(30deg);
	     -o-transform: rotateZ(30deg);
	        transform: rotateZ(30deg);
}
.stats__item p {
	font-size: 15px;
}
/* -----INFO---- */

.info {
	padding: 35px 0;
}
.info .title-l {
	margin-bottom: 60px;
}
.info__wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.info__item {
	width: 23%;
	background: #fff9f3;
	position: relative;
	max-width: 263px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	overflow: hidden;
	padding: 27px 34px 260px 24px;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
}
.info__item:hover {
	-webkit-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	   -moz-box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
	        box-shadow: 8px 0 25px rgba(255, 101, 24, 0.15);
}
.info__item:after {
	content: '';
	display: block;
	position: absolute;
}
.info__item:nth-child(1)::after {
	width: 300px;
	height: 271px;
	background: url('../img/news1.png') no-repeat 0 0 / cover;
	bottom: -20px;
	left: -4px;
}
.info__item:nth-child(2)::after {
	width: 291px;
	height: 300px;
	background: url('../img/news2.png') no-repeat 0 0 / cover;
	bottom: -48px;
	left: -22px;
}
.info__item:nth-child(3)::after {
	width: 296px;
	height: 274px;
	background: url('../img/news3.png') no-repeat 0 0 / cover;
	bottom: -22px;
	left: -24px;
}
.info__item:nth-child(4)::after {
	width: 296px;
	height: 299px;
	background: url('../img/news4.png') no-repeat 0 0 / cover;
	bottom: -48px;
	left: -28px;
}
.info__item p {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4em;
	margin-bottom: 16px;
}
.info__btn {
	color: #ff6518;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.4em;
}


/* ----ABOUT--- */

.about {
	padding: 35px 0 0;
	position: relative;
}
.about::before,
.about::after {
	content: '';
	display: block;
	bottom: 0;
	position: absolute;
	z-index: 1;
}
.about::before {
	width: 366px;
	height: 498px;
	background: url('../img/about-l.png') no-repeat 0 0 / cover;
	left: 0;
}

.about::after {
	width: 1002px;
	height: 789px;
	right: 0;
	background: url('../img/about-r.png') no-repeat 0 0 / cover;
}
.about__wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.about__l,
.about-r {
	width: 50%;
	position: relative;
}
.about__l .title-l {
	text-align: left;
	margin-bottom: 45px;
}
.about__l .title-l:after {
	margin: 0;
}
.about__txt p {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.55em;
}
.about__txt p:not(:last-child) {
	margin-bottom: 25px;
}
.about__l {
	margin: 34px 0 52px;
}
.about-r::before,
.about-r::after {
	content: '';
	display: block;
	position: absolute;
	z-index: 2;
}
.about-r::before {
	width: 509px;
	height: 809px;
	bottom: 0;
	right: -30px;
	background: url('../img/about-f.png') no-repeat 0 0 / cover;
}
.about-r::after {
	width: 542px;
	height: 439px;
	top: 70px;
	left: 35px;
	background: url('../img/about-icon.png') no-repeat 0 0 / cover;
}
.about-r__img {
	position: relative;
}
.about-r__img:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 287px;
	width: 238px;
	height: 179px;
	background: url('../img/about-graph.png') no-repeat 0 0 / cover;
	z-index: 3;
}

/* ----FOOTER---- */
.footer {
	padding: 32px 0 22px;
	background: #181c2e;
}

.footer__top {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: 3px solid #262c48;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.footer__menu ul {
	margin-bottom: -20px;
	-webkit-columns: 2;
	   -moz-columns: 2;
	        columns: 2;
}
.footer__menu ul li a {
	color: #fff;
	font-size: 18px;
}
.footer__menu ul li {
	margin-bottom: 20px;
}
.footer__cont-item a,
.footer__cont-item .header__cont-wrap {
	color: #fff;
}
.footer__cont-item:not(:last-child) {
	margin: 0 0 18px;
}
.footer-r {
	max-width: 210px;
}
.footer-r .btn svg {
	margin-right: 6px;
}
.footer-r .btn {
	margin-bottom: 15px;
}
.footer__soc {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.footer__soc span {
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	max-width: 93px;
}
.footer__bot {
	color: #969696;
	text-align: center;
}
.footer__bot span {
	font-size: 17px;
	margin-bottom: 10px;
	display: block;
}
.footer__bot p {
	font-size: 14px;
}