

/* 993-1200px */
@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .header__contacts {
    margin-left: 18px;
  }
  .header__login {
    margin-right: 10px;
    padding: 10px;
    font-size: 13px;
  }
  .header__obj {
    font-size: 13px;
    padding: 10px;
  }
  .header__cont-wrap,
  .header__cont-wrap a {
    font-size: 13px;
  }
  .main__card {
    margin-left: -45px;
  }
  .rate__item-wrap {
    width: 30%;
  }
  .info__item p {
    font-size: 16px;
  }
  
  .about__txt p {
      font-size: 16px;
  }
  .about-r::after {
    width: 444px;
    height: 362px;
  }
  .footer__menu {
    margin-left: 0;
  }
  .footer-r {
    width: 21%;
  }
  .info__item p {
    min-height: 88px;
  }
  .news__l {
    width: 70.5%;
}
.info__item {
  max-width: unset;
}
.news__item-wrap {
  width: 50%;
}
.news__l-wrap .slick-next {
  right: 0px !important;
} 
.news__l-wrap .slick-prev {
  left: 0px !important;
  z-index: 8;
} 
.rab__card-item {
  font-size: 13px;
  padding: 12px 5px 13px;
}
.soisk__sort-item {
  font-size: 13px;
  padding: 12px 8px;
}
.podat__submit {
  width: 90%;
}
.prof__wrapl {
  margin-right: 20px;
}
.settings__rad-lab {
  font-size: 14px;
}
.select-sm {
  padding: 8px 32px 8px 9px;
}
.settings__ocen {
  width: 100%;
}
.captcha__btn {
  padding: 20px 40px 17px;
}
.message__chat-wrap {
  width: 60%;
}
.message__users {
  width: 38%;
}
.message__chat-line {
  max-width: 90%;
}
}
 
/* 769-993px */
@media screen and (max-width: 993px) {
  .container{
      width: 90%;
  }
  .header__page .header__wrap {
    position: static;
  }
  .header__nav {
    position: absolute;
    top: 0;
    bottom: unset !important;
    left: unset !important;
    padding: 90px 0 30px;
    right: -100%;
    height: 85vh;
    background-color: #fff;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 1, 1, 0.15);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0, 1, 1, 0.15);
         box-shadow: 0px 0px 16px 0px rgba(0, 1, 1, 0.15);
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.8s;
    width: 50% !important;
    z-index: 7;
  }
  .header__nav.open {
    overflow-y: scroll;
    right: 0;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.8s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav > ul:first-child {
    margin-right: 0;
}
  .header__nav > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
            flex-direction: column;
    margin: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  .header__nav > ul > li {
    padding: 14px 20px;
    border-bottom: 1px solid rgba(25, 25, 25, 0.2);
    width: 100%;
  }
  .header__nav > ul > li > a {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
  }
  .header__nav > ul > li > a:after {
    display: none !important;
  }


  .header__main-menu > li:not(:last-child) {
    margin-right: 0px;
}

  .header__main-menu > li:last-child {
    margin-right: 0;
}
.header__help {
  display: block;
  width: 40px;
  height: 40px;
  }
  .menu_btn {
    display: block;
    position: relative;
    height: 38px;
    width: 38px;
    left: 0;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background: #ff6518;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.8s;
    cursor: pointer;
    z-index: 8;
  }
  .bar {
    position: relative;
    display: block;
    width: 25px;
    height: 3px;
    margin: 0 auto;
    background-color: #fff;
    -webkit-border-radius: 1.55px;
       -moz-border-radius: 1.55px;
            border-radius: 1.55px;
    overflow: hidden;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
  }
  .bar:nth-of-type(1) {
    top: 8px;
    -moz-transition: top 0.3s ease 0.3s, -moz-transform 0.3s ease-out 0.1s;
    -o-transition: top 0.3s ease 0.3s, -o-transform 0.3s ease-out 0.1s;
    -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
    -webkit-transition-delay: 0.3s, 0.1s;
    -webkit-transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease-out 0.1s;
    -moz-transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -moz-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -webkit-transform 0.3s ease-out 0.1s, -moz-transform 0.3s ease-out 0.1s, -o-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -webkit-transform 0.3s ease-out 0.1s;
    -webkit-animation: mrotr 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
    -moz-animation: mrotr 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
      -o-animation: mrotr 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
         animation: mrotr 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
  }
  .bar:nth-of-type(2) {
    top: 14px;
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    transition: ease 0.3s;
         -webkit-animation: fade .3s cubic-bezier(0.5, 0.2, 0.2, 1.01);
            -moz-animation: fade .3s cubic-bezier(0.5, 0.2, 0.2, 1.01);
              -o-animation: fade .3s cubic-bezier(0.5, 0.2, 0.2, 1.01);
                 animation: fade .3s cubic-bezier(0.5, 0.2, 0.2, 1.01);
  }
  .bar:nth-of-type(3) {
    top: 20px;
    -moz-transition: top 0.3s ease 0.3s, -moz-transform 0.3s ease-out 0.1s;
    -o-transition: top 0.3s ease 0.3s, -o-transform 0.3s ease-out 0.1s;
    -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
    -webkit-transition-delay: 0.3s, 0.1s;
    -webkit-transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease-out 0.1s;
    -moz-transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -moz-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -webkit-transform 0.3s ease-out 0.1s, -moz-transform 0.3s ease-out 0.1s, -o-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -webkit-transform 0.3s ease-out 0.1s;
    -webkit-animation: mrotl 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
    -moz-animation: mrotl 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
      -o-animation: mrotl 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
         animation: mrotl 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
  }
  .menu_btn.open .bar:nth-of-type(1) {
    background: #fff;
    top: 17px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
         transform: rotate(45deg);
    -moz-transition: top 0.3s ease 0.1s, -moz-transform 0.3s ease-out 0.5s;
    -o-transition: top 0.3s ease 0.1s, -o-transform 0.3s ease-out 0.5s;
    -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
    -webkit-transition-delay: 0.1s, 0.5s;
    -webkit-transition: top 0.3s ease 0.1s, -webkit-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, -webkit-transform 0.3s ease-out 0.5s;
    -moz-transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -moz-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -webkit-transform 0.3s ease-out 0.5s, -moz-transform 0.3s ease-out 0.5s, -o-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -webkit-transform 0.3s ease-out 0.5s;
  }
  .menu_btn.open .bar:nth-of-type(2) {
    opacity: 0;
  }
  .menu_btn.open .bar:nth-of-type(3) {
    background: #fff;
    top: 11px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
         transform: rotate(-45deg);
    -moz-transition: top 0.3s ease 0.1s, -moz-transform 0.3s ease-out 0.5s;
    -o-transition: top 0.3s ease 0.1s, -o-transform 0.3s ease-out 0.5s;
    -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
    -webkit-transition-delay: 0.1s, 0.5s;
    -webkit-transition: top 0.3s ease 0.1s, -webkit-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, -webkit-transform 0.3s ease-out 0.5s;
    -moz-transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -moz-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -webkit-transform 0.3s ease-out 0.5s, -moz-transform 0.3s ease-out 0.5s, -o-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -webkit-transform 0.3s ease-out 0.5s;
  }
  .header__nav > ul > li {
    padding: 20px 20px 20px 11%;
    margin-right: 0 !important;
  }
  
  .header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 40px;
    -webkit-box-align: start;
    -webkit-align-items: start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 30px 0;
  }
  .header__cont-item:not(:last-child) {
    margin: 0 0 20px;
  }
  .header__cont-wrap, .header__cont-wrap a {
    font-size: 15px;
}
.header__btns {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 40px;
  padding-bottom: 25px;
}
.header__login {
  margin: 0 0 20px;
  padding: 15px;
  font-size: 15px;
}
.header__lk-btn {
  margin: 20px 0 0 13px;
}
.header__obj {
  font-size: 15px !important;
  padding: 13px 14px !important;
}
.main {
  padding: 198px 0 0;
}
.main__r {
  width: 70%;
  margin: 0 auto;
}
.main__l {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__l .title {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
     -moz-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.main__l p {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
     -moz-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.main__r {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
     -moz-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.main__l .main__btns {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
     -moz-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
.main::before {
  display: none;
}
.find__wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.find__card:nth-child(2) {
  margin-top: 0;
}
.find__card:not(:last-child) {
  margin-bottom: 65px;
}
.find::before {
  left: -50%;
}
.uniq__card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.uniq__l {
  width: 100%;
}
.uniq__r {
  margin: 50px auto 0;
  width: 65%;
  background: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.uniq__card {
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  background: #fff9f3 url('../img/uniq-bg.png') no-repeat 0 0 / cover;
  padding: 50px;
  margin: 0 -6%;
}
.find {
  padding: 65px 0;
}
.rate__item-wrap {
  padding: 15px 0;
}
.rate__item {
  width: 50%;
  margin: 0 auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.vac-mob {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.vac__city {
  width: 30%;
}
.vac__comp {
  width: 70%;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.vac__comp span,
.vac__city span {
  width: 90%;
}
.vac__city {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.vac__comp svg,
.vac__city svg {
  margin-top: 3px;
  width: 15px;
    margin-right: 5px;
}
.vac__bot {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.vac__center {
  padding: 0;
}
.stats__wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.stats__item:not(:last-child) {
  margin-bottom: 144px;
}
.title-l br {
  display: none;
}
.info__item {
  margin: 0 auto;
}
.about__wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.about__l {
  width: 100%;
}
.about-r {
  width: 100%;
  height: 600px;
}
.about-r::before {
  width: 377px;
  height: 600px;
  bottom: 0;
  margin: 0 auto;
  right: 0;
  left: 0;
}
.about-r::after {
  right: 89px;
  left: 0;
  margin: 0 auto;
}
.footer__logo {
  display: none;
}
.footer__top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__menu {
  width: 60%;
}
.footer__cont,
.footer-r {
  width: 70%;
}
.footer__cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}
.footer .header__cont-item:not(:last-child) {
  margin: 0 20px 0 0;
}
.footer .header__obj {
  font-size: 14px !important;
}
.info__item p {
  min-height: 70px;
}
.about__uniq .uniq__r {
  margin-top: 50px;
}
.header__page {
  padding-bottom: 5px;
  margin-bottom: 45px;
}
.news__l {
  width: 100%;
}
.news__r {
  display: none;
}
.contacts__wrap .header__contacts {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
}
.news__top {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.news__btns {
  margin-top: 25px;
}
.news-info__comments {
  display: none;
}
.news-info__text p:not(:last-child) {
  margin-bottom: 10px;
}
.news-info__text ul li {
  display: block;
}
.news-info__text ul li p {
  display: inline;
}
.rab-info__l {
  width: 100%;
}
.rab-info__lwrap {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.rab-info__r {
  width: 100%;
  margin-bottom: 20px;
}
.rab-info__foto {
  margin: 0 0 20px;
}
.news-info__date {
  margin-bottom: 10px;
  font-size: 15px !important;
}
.soisk .vac__city {
  width: auto;
}
.soisk-info__wrap .vac__comp {
  width: auto;
}
.podat__submit {
  width: 100%;
}
.podat__wrap .settings__inp-wrap {
  width: 100% !important;
}
.prof__wrapl {
  display: none;
}
.prof__wrapr {
  width: 100%;
}
.vac__comp, .vac__city  {
  font-size: 18px;
}
.prof__info .prof__wrapl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
-webkit-box-pack: start;
-webkit-justify-content: flex-start;
   -moz-box-pack: start;
    -ms-flex-pack: start;
        justify-content: flex-start;
}
.prof__wrapl .rab-info__foto {
  width: 30%;
  margin-right: 10px;
}
.prof__wrapl .rab-info__r {
  width: 30%;
}
}

/* 577-768px */
@media screen and (max-width: 768px) {
  .main__r::before {
    right: 0;
  }
  .main__r::after {
    left: 0;
  }
  .main__r {
    width: 100%;
  }
  .title-l {
    font-size: 32px;
  }
  .title {
    font-size: 40px;
  }
  p {
    font-size: 16px;
  }
  .uniq__r {
    width: 100%;
  }
  .vac__comp {
    font-size: 15px;
  }
  .vac__city {
    font-size: 15px;
  }
  .footer__menu {
    width: 75%;
}
.contacts__wrap .header__contacts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  margin-bottom: 20px;
}
.contacts__wrap {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.info__item {
  max-width: 263px;
}
.soisk__filt {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.soisk__filt-search {
  width: 100%;
  margin-bottom: 10px;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.soisk__filt-sity {
  width: 95%;
  border-left-color: #ffd8c5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.soisk__btn {
  top: unset;
  bottom: 0;
}
.rabot__range-age {
  font-size: 13px;
}
.sort-mob {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filt-menu {
    position: fixed;
    height: 100vh;
    width: 70%;
    top: 0;
    left: -100%;
    z-index: 5;
    padding: 50px 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.filt-menu.open {
  left: 0;
}
.rabotod .soisk__sort {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.rabot__range-age {
  font-size: 18px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#slider-range {
  width: 195px;
  margin: 30px 0 30px 10px;
}
.filt-menu .soisk__sort-item {
  font-size: 18px;
  background: transparent;
}
.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  font-size: 28px;
}
.rab__card-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
     -moz-box-orient: vertical;
     -moz-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  position: relative;
}
.rab__card-r {
  width: 100%;
  margin-bottom: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.rab__card-img {
  margin-bottom: 0;
}
.rab__card-l {
  width: 100%;
  position: static;
}
.rab__card-bot {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.rab__card-bot .rab__card-item {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
     -moz-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 10px;
  font-size: 15px;
}
.rab__card-bot .btn {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
     -moz-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.rab-info__edu-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.rab-info__year {
  margin-bottom: 15px;
}
.soisk__sort {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.soisk-info .news-info__date {
  font-size: 14px;
}
.soisk-info__card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.soisk-info__card .vac__sum {
  font-size: 20px;
  margin-bottom: 15px;
}
.captcha__btn {
  padding: 20px 43px 17px;
}
.settings__inp-wrap {
  width: 100% !important;
}
.prof__info .prof__wrapl {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 196px;
}
.prof__wrapl .rab-info__foto {
  width: 100%;
  margin-right: 0;
  margin-bottom: 0;
}
.prof__wrapl .rab-info__r {
  width: 100%;
}
.message__wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.message__users,
.message__chat-wrap {
  width: 100%;
}
.message__chat-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.message__help {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.message__chat-item {
  padding-right: 0px;
}
.message__chat-wrap {
  padding: 18px 0px 23px 9px;
}
.message__chat-img {
  width: 54px;
  height: 54px;
  margin-right: 10px;
}
.message__chat-link {
  font-size: 12px;
}
.message__chat-btn {
  width: 34px;
  height: 34px;
}
.message__chat-line {
  padding: 6px;
}
.message__chat-txt {
  width: 100%;
}
}


/* 320-576px */
@media screen and (max-width: 576px) {
  .header__nav {
    width: 90% !important
  }
  .logo {
    width: 50%;
}
.logo img {
  width: 100%;
  height: auto;
}
.title {
  font-size: 36px;
}
.title-l {
  font-size: 24px;
}
p {
  font-size: 15px !important;
}
.main__r::before {
  width: 253px;
  height: 374px;
  right: 57px;
}
.main__card {
  margin-top: 120px;
}
.main__card p {
  font-size: 13px !important;
}
.main__card {
  max-width: 245px;
}
.main__r {
  padding-bottom: 32px;
}
.main__r::after {
  width: 295px;
  height: 240px;
  right: 0px;
  top: -15px;
}
.btn {
  padding: 23px 57px;
  font-size: 20px;
}
.main__btn {
  font-size: 17px;
}
.find__txt {
  font-size: 16.5px !important;
}
.uniq__tit {
  font-size: 24px;
}
.uniq__card {
  padding: 24px !important;
}
.uniq__l p:not(:last-child) {
  margin-bottom: 18px;
}
.uniq__r {
  padding: 0 0 161px;
}
.rate__item {
  width: 100%;
}
.slick-prev {
  left: 0 !important;
  z-index: 10;
}
.slick-next {
  right: 0 !important;
}
.rate__btn {
  padding: 16px 40px;
  font-size: 16px;
}
.uniq__r {
  margin: 110px auto 0 !important;
  padding: 0 0 90px !important;
}
.uniq__r::before {
  width: 56px;
  height: 56px;
  top: -68px;
  right: 48px;
  left: unset;
  margin: 0;
  background: #fff url(../img/svg/contract.svg) no-repeat center center / 59%;
}
.uniq__r:after {
  width: 70px;
  height: 70px;
  bottom: -53px;
  right: 40px;
  left: 0;
  margin: auto;
  background: #fff url(../img/svg/achievement.svg) no-repeat center center / 60%;
}
.uniq__img:after {
  top: -78px;
  right: unset;
  left: 33px;
}
.uniq__img::before {
  width: 60px;
  height: 60px;
  top: unset;
  left: -28px;
  bottom: -63px;
  background: #fff url(../img/svg/pie-chart.svg) no-repeat center center / 50%;
}
.uniq__foto {
  width: 50px;
  height: 50px;
}
.uniq__name {
  font-size: 9px;
}
.uniq__age {
  font-size: 8px;
  margin-bottom: 3px;
}
.uniq__item-num {
  font-size: 10px;
  width: 20px;
  height: 20px;
}
.uniq__item span {
  font-size: 8px;
}
.uniq__item {
  max-width: 60px;
}
.uniq__pep {
  right: 12px;
  padding: 12px 14px 15px 13px;
  bottom: 27px;
}
.uniq__card {
  background: #fff9f3 url(../img/uniq-bg.png) no-repeat right bottom / 111%;
}
.rate .title-l {
  margin-bottom: 30px;
}
.title-s {
  font-size: 22px;
}
.rate__wrap .title-s {
  width: 100%;
}
.vac .title-l {
  margin-bottom: 25px;
}
.vac__tit {
  font-size: 18px;
}
.vac__sum {
  font-size: 16px;
}
.vac__item p {
  font-size: 13px !important;
}
.vac__item {
  padding: 20px 8px;
}
.vac__city svg {
  width: 9px;
  height: 10px;
}
.vac__comp svg {
    width: 9px;
    height: 9px;
}
.vac__comp {
  font-size: 10px;
}
.vac__city {
  font-size: 10px;
}
.vac__item:not(:last-child) {
  margin-bottom: 25px;
}
.vac__center::before, .vac__center:after {
  display: none;
}
.vac__more {
  margin: 0 auto;
}
.vac {
  padding: 33px 0 10px;
}
.info__item p {
  font-size: 18px !important;
}
.info .slick-prev {
  left: -15px !important;
}
.info .slick-next {
  right: -15px !important;
}
.info {
  padding: 27px 0 0px;
}
.about {
  padding: 20px 0 0;
}
.about__l .title-l {
  margin-bottom: 35px;
}
.about-r {
  height: 400px;
}
.about-r::before {
  width: 288px;
  height: 400px;
}
.about__l {
  margin: 34px 0 26px;
}
.about::before {
  display: none;
}
.about::after {
  width: 453px;
  height: 342px;
  right: -87px;
}
.about-r::after {
  width: 289px;
  height: 234px;
}
.about-r__img:after {
  top: 181px;
  width: 115px;
  height: 85px;
}
.footer {
  padding: 25px 0 20px;
}
.footer__menu ul li {
  margin-bottom: 16px;
}
.footer__menu ul li a{
  font-size: 16px;
}
.footer__menu {
  width: 100%;
}
.header__cont-item svg {
  width: 22px;
  height: 22px;
}
.header__cont-wrap, .header__cont-wrap a {
  font-size: 10px;
}
.footer__cont, .footer-r {
  width: 100%;
}
.footer .header__obj {
  font-size: 13px !important;
  width: 190px;
}
.footer__soc span {
  font-size: 12px;
}
.footer__bot span {
  font-size: 14px;
}
.footer__bot p {
  font-size: 10px !important;
}
.footer__soc-item svg {
  width: 27px;
  height: 27px;
}
.main::after {
  bottom: 0;
  width: 555px;
  height: 463px;
}
.header__page {
  padding-bottom: 1px;
  margin-bottom: 33px;
}
.about-page__txt p {
  margin-bottom: 19px;
}
.news-info__form-wrap {
  width: 100% !important;
  margin-bottom: 14px;
}
.news-info__form-inp {
  padding: 15px 20px;
  font-size: 15px;
}
.news-info__form-inp::-webkit-input-placeholder {
  font-size: 15px;
}
.news-info__form-inp:-moz-placeholder {
  font-size: 15px;
}
.news-info__form-inp::-moz-placeholder {
  font-size: 15px;
}
.news-info__form-inp:-ms-input-placeholder {
  font-size: 15px;
}
.news-info__form-inp::-ms-input-placeholder {
  font-size: 15px;
}
.news-info__form-inp::placeholder {
  font-size: 15px;
}
.news-info__form-bot {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.news-info__form-bot p {
  font-size: 9px !important;
  margin-top: 10px;
}
.form__btn {
  margin-right: 0;
  padding: 16px 54px;
}
.news__item-wrap {
  width: 100%;
}
.filt__btn {
  font-size: 12px;
  padding: 8px;
}
.news__top {
  margin-bottom: 20px;
}
.news-info__img {
  float: unset;
  margin-right: 0 !important;
  width: 100%;
  height: auto;
}
.news-info .title-l {
  text-align: left;
  display: inline;
  font-size: 24px;
}
.news-info__text ul li {
  font-size: 14px;
}
.news-info__title {
  font-size: 22px;
}
.news__l-wrap.slick-slider {
  margin-bottom: 50px !important;
}
.breadcrumbs__link,
.breadcrumbs__separator,
.breadcrumbs__current {
  font-size: 14px;
}
.soisk__btn {
  padding: 17px 36px;
  font-size: 15px;
}
.filt-menu {
  width: 100%;
}
.filt-menu .soisk__sort-item {
  font-size: 14px;
}
.rabot__range-age {
  font-size: 14px;
}
.rab__card-bot .btn {
  max-width: 196px;
}
.rab-info .title-l {
  font-size: 24px;
}
.rab-info__edu-bot {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.rab-info__edu-bot .rab__card-item {
  margin-bottom: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.news-info__date {
  font-size: 12px !important;
}
.vac__item .vac__izbr {
  right: 7px;    
  padding: 15px 8px;
}
.soisk .vac__item.prof {
  padding: 14px 9px;
}
.soisk__input {
  font-size: 15px;
}
.soisk__input::-webkit-input-placeholder {
  font-size: 15px;
}
.soisk__input:-moz-placeholder {
  font-size: 15px;
}
.soisk__input::-moz-placeholder {
  font-size: 15px;
}
.soisk__input:-ms-input-placeholder {
  font-size: 15px;
}
.soisk__input::-ms-input-placeholder {
  font-size: 15px;
}
.soisk__input::placeholder {
  font-size: 15px;
}
.soisk-info__wrap .vac__city {
  display: none;
}
.soisk-info .title-l {
  font-size: 24px;
}
.soisk-info__wrap .vac__comp {
  font-size: 14px;
}
.soisk-info__wrap .vac__comp svg {
  width: 13px;
  height: 13px;
}
.soisk-info__card {
  padding: 15px 50px 15px 12px;
}
.soisk-info__card .vac__sum {
  font-size: 15px;
}
.soisk-info__card .btn {
  font-size: 12px;
  padding: 9px 30px;
}
.soisk-info__card .vac__izbr {
  padding: 5px 6px 6px;
  top: 9px;
  right: 9px;
}
.soisk-info__card .vac__izbr svg {
  width: 18px;
  height: 18px;
}
.soisk-info p {
  font-size: 14px !important;
}
.soisk-info .news-info__text ul li {
  font-size: 14px;
}
.breadcrumbs {
  display: block;
}
.soisk .vac__comp {
  margin-bottom: 0;
}
.settings__inp-soisk .settings__chbox-lab {
  padding: 8px 5px;
  font-size: 15px;
}
.settings__tit {
  font-size: 15px;
}
.podat__submit {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.settings__submit-img {
  width: 48%;
}
.settings__submit-img img {
  width: 100%;
  height: auto;
  display: block;
}
.captcha {
  width: 49%;
  padding: 10px;
  font-size: 13px;
  text-align: center;
}
.captcha::-webkit-input-placeholder {
  font-size: 13px;
}
.captcha:-moz-placeholder {
  font-size: 13px;
}
.captcha::-moz-placeholder {
  font-size: 13px;
}
.captcha:-ms-input-placeholder {
  font-size: 13px;
}
.captcha::-ms-input-placeholder {
  font-size: 13px;
}
.captcha::placeholder {
  font-size: 13px;
}
.captcha__btn {
  font-size: 16px;
  width: 100%;
  padding: 15px;
  margin-top: 25px;
}
.settings__btnadd {
  font-size: 15px;
  padding: 12px 23px;
  width: 90%;
}
.settings__name {
  font-size: 13px;
}
.settings__or-tit {
  font-size: 16px;
}
.settings__info-item > span {
    font-size: 13px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.settings__rad-lab {
  font-size: 13px;
  padding-left: 26px;
}
.settings__rad-lab::before {
  top: -2px;
  width: 20px;
  height: 20px;
}
.settings__rad-lab::after {
  width: 14px;
  height: 14px;
  left: 4px;
  top: 2px;
}
.settings__info-item select {
  font-size: 13px;
  width: 80%;
  padding: 8px 46px 8px 10px;
  margin-bottom: 10px;
}
.settings__info-item {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.settings__input-wrap {
  width: 50%;
  margin: 0 0 10px !important;
}
.settings__lang-wrap {
  width: 100%;
  margin-top: 0;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.settings__info-item > input {
  width: 80%;
}
.settings__ocen {
  width: 100%;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.settings__ocen-wrap {
  width: 100%;
}
.settings__ocen-wrap:not(:last-child) {
  margin-bottom: 10px;
}
.settings__ocen-wrap span {
  max-width: 103px;
  margin-right: 35px;
}
.settings__info-educ {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.settings__help .settings__input-wrap:nth-child(2n-1) {
  width: 30%;
}
.settings__help .settings__input-wrap:nth-child(2n) {
  width: 65%;
}
.settings__help-wrap {
  width: 65%;
}
.settings__help-wrap .settings__input-wrap {
  width: 100% !important;
}
.settings__help .settings__rad-lab {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.settings__help .settings__rad-lab input {
  max-width: 50px;
  padding: 4px 10px;
  margin: 5px 5px 0 0;
}
.settings__help {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.settings__help .settings__help-wrap:last-child .settings__rad-lab::before {
    top: -2px;
}
.settings__help .settings__help-wrap:last-child .settings__rad-lab::after {
  top: 2px;
}
.settings__submit {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.settings__redact textarea {
    padding: 15px 18px;
}
.rab__card-r .vac__city svg {
  width: 11px;
  height: 16px;
}
.rab-info__about ul li {
  font-size: 14px;
}
.rab-info__txt p {
  font-size: 13px !important;
}
.rab-info__inst {
  font-size: 13px;
}
.rab-info__rev-item p {
  font-size: 13px !important;
}
.message__chat-txt p {
  font-size: 14px !important;
}
.message__chat-line label {
  margin-right: 13px;
  max-width: 50px;
}
.message__chat-mess {
  max-width: 55%;
  min-width: unset; 
}

}
