

/* 993-1200px */
@media screen and (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .header__contacts {
    margin-left: 18px;
  }
  .header__login {
    margin-right: 10px;
    padding: 10px;
    font-size: 13px;
  }
  .header__obj {
    font-size: 13px;
    padding: 10px;
  }
  .header__cont-wrap,
  .header__cont-wrap a {
    font-size: 13px;
  }
  .main__card {
    margin-left: -45px;
  }
  .rate__item-wrap {
    width: 30%;
  }
  .info__item p {
    font-size: 16px;
  }
  
  .about__txt p {
      font-size: 16px;
  }
  .about-r::after {
    width: 444px;
    height: 362px;
  }
  .footer__menu {
    margin-left: 0;
  }
  .footer-r {
    width: 21%;
  }
}
 
/* 769-993px */
@media screen and (max-width: 993px) {
  .container{
      width: 90%;
  }
  
  .header__nav {
    position: absolute;
    top: 0;
    padding: 90px 0 30px;
    right: -100%;
    height: 85vh;
    background-color: #fff;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 1, 1, 0.15);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0, 1, 1, 0.15);
         box-shadow: 0px 0px 16px 0px rgba(0, 1, 1, 0.15);
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.8s;
    width: 50%;
    z-index: 7;
  }
  .header__nav.open {
    overflow-y: scroll;
    right: 0;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.8s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__nav > ul:first-child {
    margin-right: 0;
}
  .header__nav > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
            flex-direction: column;
    margin: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  .header__nav > ul > li {
    padding: 14px 20px;
    border-bottom: 1px solid rgba(25, 25, 25, 0.2);
    width: 100%;
  }
  .header__nav > ul > li > a {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
  }
  .header__nav > ul > li > a:after {
    display: none !important;
  }


  .header__main-menu > li:not(:last-child) {
    margin-right: 0px;
}

  .header__main-menu > li:last-child {
    margin-right: 0;
}
.header__help {
  display: block;
  width: 40px;
  height: 40px;
  }
  .menu_btn {
    display: block;
    position: relative;
    height: 38px;
    width: 38px;
    left: 0;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background: #ff6518;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    -moz-transition: 0.8s;
    transition: 0.8s;
    cursor: pointer;
    z-index: 8;
  }
  .bar {
    position: relative;
    display: block;
    width: 25px;
    height: 3px;
    margin: 0 auto;
    background-color: #fff;
    -webkit-border-radius: 1.55px;
       -moz-border-radius: 1.55px;
            border-radius: 1.55px;
    overflow: hidden;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
  }
  .bar:nth-of-type(1) {
    top: 8px;
    -moz-transition: top 0.3s ease 0.3s, -moz-transform 0.3s ease-out 0.1s;
    -o-transition: top 0.3s ease 0.3s, -o-transform 0.3s ease-out 0.1s;
    -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
    -webkit-transition-delay: 0.3s, 0.1s;
    -webkit-transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease-out 0.1s;
    -moz-transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -moz-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -webkit-transform 0.3s ease-out 0.1s, -moz-transform 0.3s ease-out 0.1s, -o-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -webkit-transform 0.3s ease-out 0.1s;
    -webkit-animation: mrotr 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
    -moz-animation: mrotr 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
      -o-animation: mrotr 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
         animation: mrotr 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
  }
  .bar:nth-of-type(2) {
    top: 14px;
    -webkit-transition: ease 0.3s;
    -o-transition: ease 0.3s;
    -moz-transition: ease 0.3s;
    transition: ease 0.3s;
         -webkit-animation: fade .3s cubic-bezier(0.5, 0.2, 0.2, 1.01);
            -moz-animation: fade .3s cubic-bezier(0.5, 0.2, 0.2, 1.01);
              -o-animation: fade .3s cubic-bezier(0.5, 0.2, 0.2, 1.01);
                 animation: fade .3s cubic-bezier(0.5, 0.2, 0.2, 1.01);
  }
  .bar:nth-of-type(3) {
    top: 20px;
    -moz-transition: top 0.3s ease 0.3s, -moz-transform 0.3s ease-out 0.1s;
    -o-transition: top 0.3s ease 0.3s, -o-transform 0.3s ease-out 0.1s;
    -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
    -webkit-transition-delay: 0.3s, 0.1s;
    -webkit-transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, -webkit-transform 0.3s ease-out 0.1s;
    -moz-transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -moz-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -webkit-transform 0.3s ease-out 0.1s, -moz-transform 0.3s ease-out 0.1s, -o-transform 0.3s ease-out 0.1s;
    transition: top 0.3s ease 0.3s, transform 0.3s ease-out 0.1s, -webkit-transform 0.3s ease-out 0.1s;
    -webkit-animation: mrotl 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
    -moz-animation: mrotl 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
      -o-animation: mrotl 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
         animation: mrotl 2s cubic-bezier(0.5, 0.2, 0.2, 1.01);
  }
  .menu_btn.open .bar:nth-of-type(1) {
    background: #fff;
    top: 17px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
         transform: rotate(45deg);
    -moz-transition: top 0.3s ease 0.1s, -moz-transform 0.3s ease-out 0.5s;
    -o-transition: top 0.3s ease 0.1s, -o-transform 0.3s ease-out 0.5s;
    -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
    -webkit-transition-delay: 0.1s, 0.5s;
    -webkit-transition: top 0.3s ease 0.1s, -webkit-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, -webkit-transform 0.3s ease-out 0.5s;
    -moz-transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -moz-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -webkit-transform 0.3s ease-out 0.5s, -moz-transform 0.3s ease-out 0.5s, -o-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -webkit-transform 0.3s ease-out 0.5s;
  }
  .menu_btn.open .bar:nth-of-type(2) {
    opacity: 0;
  }
  .menu_btn.open .bar:nth-of-type(3) {
    background: #fff;
    top: 11px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
     -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
         transform: rotate(-45deg);
    -moz-transition: top 0.3s ease 0.1s, -moz-transform 0.3s ease-out 0.5s;
    -o-transition: top 0.3s ease 0.1s, -o-transform 0.3s ease-out 0.5s;
    -webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease-out;
    -webkit-transition-delay: 0.1s, 0.5s;
    -webkit-transition: top 0.3s ease 0.1s, -webkit-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, -webkit-transform 0.3s ease-out 0.5s;
    -moz-transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -moz-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -webkit-transform 0.3s ease-out 0.5s, -moz-transform 0.3s ease-out 0.5s, -o-transform 0.3s ease-out 0.5s;
    transition: top 0.3s ease 0.1s, transform 0.3s ease-out 0.5s, -webkit-transform 0.3s ease-out 0.5s;
  }
  .header__nav > ul > li {
    padding: 20px 20px 20px 11%;
    margin-right: 0 !important;
  }
  
  .header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 40px;
    -webkit-box-align: start;
    -webkit-align-items: start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 30px 0;
  }
  .header__cont-item:not(:last-child) {
    margin: 0 0 20px;
  }
  .header__cont-wrap, .header__cont-wrap a {
    font-size: 15px;
}
.header__btns {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 40px;
  padding-bottom: 25px;
}
.header__login {
  margin: 0 0 20px;
  padding: 15px;
  font-size: 15px;
}
.header__obj {
  font-size: 15px;
  padding: 13px 14px;
}
.main {
  padding: 198px 0 0;
}
.main__r {
  width: 70%;
  margin: 0 auto;
}
.main__l {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__l .title {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
     -moz-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.main__l p {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
     -moz-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.main__r {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
     -moz-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.main__l .main__btns {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
     -moz-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}
.main::before {
  display: none;
}
.find__wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.find__card:nth-child(2) {
  margin-top: 0;
}
.find__card:not(:last-child) {
  margin-bottom: 65px;
}
.find::before {
  left: -50%;
}
.uniq__card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.uniq__l {
  width: 100%;
}
.uniq__r {
  margin: 50px auto 0;
  width: 65%;
  background: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
.uniq__card {
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  background: #fff9f3 url('../img/uniq-bg.png') no-repeat 0 0 / cover;
  padding: 50px;
  margin: 0 -6%;
}
.find {
  padding: 65px 0;
}
.rate__item-wrap {
  padding: 15px 0;
}
.rate__item {
  width: 50%;
  margin: 0 auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
}

/* 577-768px */
@media screen and (max-width: 768px) {
 
}


/* 320-576px */
@media screen and (max-width: 576px) {
  
}
